<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<% if signed_in? %>
  <%= current_user.username %>
<% else %>
  たまプラーザ
<% end %>

<div id="posts"></div>